<div class="hidden">
    <!-- virtual keyboard. on devices without a physical keyboard, forces the device virtual keyboard to pop up -->
    <button type="button" class="btn btn-sm btn-primary" style="margin:2px" onclick="openPopup('virtualKeyboardPopup', 'VirtualKeyboard.aspx');" title="send text to the remote session">Keyboard</button>

    <!-- remote clipboard. display the remote clipboard content and allow to copy it locally (text only) -->
    <button type="button" class="btn btn-sm btn-primary" ng-click="main.showClipboard();" title="retrieve the remote clipboard content (text only)">Clipboard</button>

    <!-- upload/download file(s). only enabled if the connected server is localhost or if a domain is specified (so file(s) can be accessed within the rdp session) -->
    <!-- <button type="button" class="btn btn-sm btn-primary" id="files" onclick="openPopup('fileStoragePopup', 'FileStorage.aspx');" title="upload/download files to/from the user documents folder">My Documents</button>-->
    <!-- send ctrl+alt+del to the rdp session. may be useful to change the user password, for example -->
    <button type="button" class="btn btn-sm btn-primary" style="margin:2px" onclick="sendCtrlAltDel();" title="send Ctrl+Alt+Del to the remote session">Ctrl+Alt+Del</button>

    <button type="button" class="btn btn-sm btn-danger" style="margin:2px" ng-click="main.disconnect()" title="close session">Disconnect  <i class="glyphicon glyphicon-off"></i></button>

    <div class="pull-right" style="display:inline-block;line-height:32px;margin-right:10px;font-weight:bold;color:#FAF0E0;">{{main.session.sessionId}}</div>

    <!-- remote session display -->
    <div id="displayDiv"></div>

    <!-- remote session helpers -->
    <div id="statDiv"></div>
    <div id="debugDiv"></div>
    <div id="msgDiv"></div>
    <div id="kbhDiv"></div>
    <div id="bgfDiv"></div>
</div>