.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#left-pane {
    max-height: 100vh;
    overflow: auto;
}

#main-pane {
    max-height: 100vh;
}

#right-pane {
    max-height: 100vh;
    overflow: auto;
}

.hidden {
    display:none;
}