.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left-pane {
    max-height: 100vh;
    overflow: auto;
}

.main-pane {
    max-height: 100vh;
    overflow: auto;
}

.right-pane {
    max-height: 100vh;
    overflow: auto;
}